<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>management</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.2.0-beta1-dist/css/bootstrap.min.css}"/>
    <script src="/script.js"></script>
</head>
<body>

    <div th:include="navbar"></div>
    <div class="container mt-1">
        <div class="container mt-1">
            <div class="row mb-1">
                <p class="col-2 fw-bold">Firstname</p>
                <p class="col-2 fw-bold">Lastname</p>
                <p class="col-3 fw-bold">Email-Address</p>
                <p class="col-2 fw-bold">Birthdate</p>
                <p class="col-1 fw-bold">Gender</p>
            </div>
            <div class="row mb-3 pt-2 border-top person" th:each="person: ${persons}" th:object="${person}">
                <p class="col-2" th:text="*{firstName}"></p>
                <p class="col-2" th:text="*{lastName}"></p>
                <p class="col-3" th:text="*{email}"></p>
                <p class="col-2" th:text="*{birthdate}"></p>
                <p class="col-1" th:text="*{gender}"></p>
                <form class="col-1" th:action="@{'/editPerson/' + *{id}}" method="post">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
                <button type="button" class="btn btn-danger col-1" data-bs-toggle="modal" data-bs-target="#modal" th:onclick="'showPopup(' + *{id} + ')'">
                    Delete
                </button>
            </div>
        </div>
        <form th:action="@{/createPerson}" method="get">
            <button type="submit" class="btn btn-primary">Add Person</button>
        </form>
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Delete person</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Do you want to delete this person?
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" href="/" data-dismiss="modal">Close</a>
                    <form th:action="@{/}" id="deleteButton" method="POST" >
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:src="@{/bootstrap-5.2.0-beta1-dist/js/bootstrap.min.js}"></script>
</body>
</html>
